body {
    font-family: calibri !important;
    background: #1d1d1d
}
.container-fluid { 
    background: #1d1d1d;
    font-family: calibri !important;
    border:0;
    margin-right: auto;
    margin-left: auto;
    padding:0;
}

.navbar {
    background: #2d3436 !important;
    border:0;
    height: 60px;
    padding: 8px;
    
    
}
.nav { background: #2d3436 !important;}
.navbar a { 
 font-weight: bold;
    text-transform: lowercase;
    margin-left: 3px;
    
    
}
.navbar-inverse .navbar-brand { background: #2d3436 url('https://i.imgur.com/b8jGQIL.png') no-repeat center !important; width: 132px;  height: 52px; }
.navbar-inverse .navbar-nav>li>a { color: #ecf0f1; }
.navbar-inverse .navbar-nav>li>a:hover { color: #55943a;
    transition: .5s; }

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    background-color: transparent;
    border-bottom: 2px solid #55943a
}
.navbar-brand>img { display: none; }
.box-header {
    background: #1d1d1d;
    color: #ecf0f1;
    font-weight: bold;
    border-bottom: 2px solid #55943a;   
}
.box-header .box-title, .box-header>.fa, .box-header>.glyphicon, .box-header>.ion { font-weight: bold; font-family: calibri; font-size: 13px; text-transform: uppercase;}
.box.box-danger { border: 0;}
.media-list, .store-list { background: #2d3436; color: #fff;font-size: 12px}
.media-list a, .store-list a { color: #ecf0f1; font-weight: bold; font-size: 14px}
.media-list .header {
    background: #55943a;
    border:0; font: bold 14px calibri;
    padding: 10px;
    border-radius: 4px 4px 0 0;
}
.media-list .name a {
    font-size: 13px;
    color: #55943a;
    font-weight: bold;
}
.media-list>li+li, .store-list>li+li {
    border-top: 1px solid  rgba(255, 255, 255, 0.1)
}
.item>img.offline { border: 2px solid #55943a; }
.chat .item { background: #2d3436; color: #fff; }
.text-muted { color: #fff; }
.chat { background: #2d3436; }
.box { background: #2d3436; color: #fff; border: 0;}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th { border: 0; }
.table>tbody>tr>td a { color: #55943a; font-weight: bold; }
a { color: #55943a; font-weight: bold; }
a:hover { color: #55943a; transition: .5s;}
#pre-footer { background: #55943a; padding: 2px}
footer { background:#2d3436 ; color: #fff; padding: 5px; font-family: calibri !important;}
footer .links-box:before { content: 'code: neo'; padding: 3px; background:#1d1d1d; font-weight: bold; border-radius: 4px; margin-left: 13px;}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 { font-family: calibri; font-weight: bold; }

.alert-danger, .alert-error, .bg-red, .callout.callout-danger, .label-danger, .modal-danger .modal-body { background-color: #55943a !important; }

.quote { background: #1d1d1d; border-color: #55943a }
.breadcrumb {
     padding: 8px 15px;
    margin-bottom: 20px;
    list-style: none;
    background-color: #1d1d1d !important;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;   
}
.breadcrumb>li { color: #fff;}
.post {
    border:0;
    padding-top: 20px;
    padding-bottom: 10px;
}
.post-head {
    margin-top: 10px;
    border-top: 2px solid  rgba(255, 255, 255, 0.1) !important;
}
hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 2px solid  rgba(255, 255, 255, 0.1);
}
.btn-default {
    color: #fff;
    background-color: #1d1d1d;
    border-color: #1d1d1d;
}
.btn-danger {
     color: #fff;
    background-color: #1d1d1d;
    border-color: #1d1d1d;
}
.btn-default:hover {
    color: #fff;
    background-color: #55943a;
    border-color: #55943a;
    transition: .5s;
}
.btn-default.active, .btn-default:active, .open>.btn-default.dropdown-toggle {
    color: #fff;
     background-color: #55943a;
    border-color: #55943a;
}
.btn-default.focus, .btn-default:focus {
    color: #fff;
     background-color: #55943a;
    border-color: #55943a;
}
.btn-default.dropdown-toggle{
    color: #fff;
     background-color: #55943a;
    border-color: #55943a;
}
.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857;
    color: #fff;
    background-color: #1d1d1d;
    background-image: none;
    border: 1px solid rgba(255,255,255,0.1);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    
}
.panel-default>.panel-heading {
    color: #fff;
    background-color: #1d1d1d;
    border-color: #1d1d1d;
    border:0;
}

.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
.panel .btn-default { background-color: #55943a }
.btn-primary {
    color: #fff;
    background-color: #1d1d1d;
    border-color: #1d1d1d;
}
.btn-primary:hover {
    color: #fff;
     background-color: #55943a;
    border-color: #55943a;
    transition: .5s;
}
.btn { font-weight: bold; }



.sidebar-toogle .top {
    background: #55943a;
    color: #fff;
    height: 20px;
    border-radius: 3px;
}
.sidebar-toogle {
    position: fixed;
    bottom: 0px;
    right: 0px;
    background-color: #ecf0f1;
    width: 200px;
    padding: 5px;
    border:0;
    z-index: 12;
    color: #1d1d1d;
    border-radius: 3px;
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    z-index: 3;
    color: #fff;
    background-color: #55943a;
    border-color: #55943a;
    cursor: default;
}
.pagination>li>a, .pagination>li>span {
    position: relative;
    float: left;
    padding: 6px 12px;
    line-height: 1.42857;
    text-decoration: none;
    color: #55943a;
    background-color: #fff;
    border: 1px solid #ddd;
    margin-left: -1px;
}


::-webkit-scrollbar-track{
    background: #fff;
    border-left: 1px solid rgba(0, 0, 0, 0.04);
    
}
::-webkit-scrollbar{
    width: 10px;
    height: 10px;
}
::-webkit-scrollbar-thumb{
    background: #55943a;
    border: 2px solid #55943a;
}
